<div class="row" style="background-color: beige; padding: 25px 10px 25px 10px;">
    <div class="col-sm-12 col-xl-4" *ngIf="medicine.picturePath">
        <img src='{{setting.imageUrl}}/{{medicine?.idMedicine}}/{{medicine?.picturePath}}' style=" max-width: 300px; max-height:300px; padding:10px; ">
    </div>
    <div class="col-sm-12 col-xl-4 " *ngIf="!medicine.picturePath">
        <img src=' {{imagePath}}/no-image.png ' style="max-width: 300px; max-height:300px; padding:10px; ">
    </div>
    <div class="col-sm-12 col-xl-8 ">
        <h2>{{medicine?.medicineName}}</h2>
        <div style="color: red; ">{{medicine?.seller.sellerName}}</div>
        <h6>MRP:</h6>
        <div>
            <h2>{{medicine?.medicinePrice | currency: 'INR '}}</h2>
        </div>
        <h6>Product Description: </h6>
        <p>{{medicine?.medicineDescription}}</p>
        <button class="btn btn-danger my-2 my-sm-0 " (click)="medicineservice.setCartMedicine(medicine) ">Add to Cart</button>
    </div>
</div>